/* blogdetail.css */

.container {
    margin: 40px;
    background-color: white;
  }
  
  .product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: white;
  }
  
  .product-details .col-md-6 {
    flex: 1;
    text-align: left;
  }
  
  .product-details h3 {
 margin-left: 180px;
    color: #073fc3;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom:45px ;
  }
  
  
  .product-details {
    position: relative;
  }
  
  .product-details img {
    max-width: 60%;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 160px;
    margin-right: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-details img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .product-details::after {
    /* content: "Back Here"; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 12px 20px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .product-details:hover::after {
    opacity: 1;
  }
  
  .product-details p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #333;
    text-align: justify;
  }
  
  .product-details p:first-letter {
    font-size: 24px;
    font-weight: bold;
  }
  
  .product-details p strong {
    font-weight: bold;
  }
  
  .product-details p em {
    font-style: italic;
  }
  
  .product-details p::selection {
    background-color: #f5f5f5;
    color: #333;
  }
  .product-details button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 360px;
    width: 180px;
    transition: background-color 0.3s ease;
  }
  
  .product-details button:hover {
    background-color: #1a16f2;
    transition: calc(0.3s);
  }
  
  /* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  .container {
    margin: 20px;
  }

  .product-details {
    flex-direction: column;
    align-items: center;
  }

  .product-details img {
    margin-left: 0;
  }

  .product-details .col-md-6 {
    width: 100%;
    text-align: center;
  }
}