@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
@keyframes slideRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.full-screen-slide {
  width: 100vw;
  animation: slideRight 36s linear infinite;
}